#squares>.square {
    width: $square_width;
    display: inline-block;
    position: relative;
    vertical-align: top;
    transition: all 0.5s;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @for $i from 1 through 25 {
        &:nth-child(#{$i}) {
            background-color: adjust-color($color_base, $red: ($i * 4), $blue: ($i * 4));
        }

        &:hover:nth-child(#{$i}) {
            background-color: complement(adjust-color($color_base, $red: ($i + 4), $blue: ($i * 4)));
            color: $color_background;
            transition: background-color 0.5s;
            transform: rotateX(180deg);
        }
    }
}